.cart{
    background-color: #FF9900;
    padding: 25px;
    position: sticky;
    margin-top: 20px;
}



.btn-clear-cart{
    width: 90%;
    height: 56px;
    margin: 10px auto;
    background: #FF3030;
    border-radius: 4px;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
}