.header{
    height: 80px;
    background-color: mediumpurple;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

nav .header a{
    text-decoration: none;
    color: khaki;
    margin-left: 30px;
}

nav .header a:hover{
    color: orangered;
}

nav a {
    margin-right: 15px;
    font-size: 20px;
}